section {
  scroll-margin-top: 100px; /* Ajusta según la altura de tu navbar */
}

.header {
  background-color: transparent;
  padding: 14px;
  text-align: center;
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  z-index: 1000;
  transition: all 0.4s ease;
  justify-content: space-around;
}

.scrolled {
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.scrolled li {
  
}

.scrolled .item {
  
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0;
  width: 100%;
}

.header h1 {
  font-size: 2em;
  margin: 0;
  margin-left: 10%;
  font-family: var(--font-family);
  color: var(--accent-color);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-right: 7%;
}

.item {
  position: relative;
  padding-bottom: 4px;
  text-decoration: none;
  color: var(--text-color); /* Ajusta según tu tema */
  transition: color 0.3s ease;
  cursor: pointer;
}

.item::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 10px 0px rgb(197 192 36 / 50%);
}

.item:hover::after {
  transform: scaleX(1); /* Expande el borde en hover */
}

.active {
  color: var(--accent-color); /* Color de acento cuando está activo */
}

.active::after {
  transform: scaleX(1); /* Expande el borde en hover */
}

nav ul li {
  display: inline;
  width: fit-content;
  text-wrap-mode: nowrap;
  margin: 0 15px;
}

nav ul li .item {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1em;
  font-family: var(--font-family);
  font-weight: 400;
}

nav ul li .item:hover {
  text-decoration: none;
  color: var(--accent-color); /* Cambia el color del texto en hover */
}

.containerIcons {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-left: 9%;
}

.iconVerified{
  width: 24px;
  margin-left: 3%;
}

.containerTitleIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  margin-left: 2%;
}

.containerTitleIcon h1 {
  text-wrap-mode: nowrap;
  font-size: 17px;
  margin-left: 10px;
  font-weight: 500;
}



.imgPerfil{
  width: 47px;
  border-radius: 30px;
}

@media (min-width: 992px) {

  .containerTitleIcon{
    margin-left: 6%;
  }

  .headerContent{
    justify-content: space-between;
  }

  .iconVerified{
    margin-left: 4%;
  }

  .containerTitleIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 17%;
    margin-left: 2%;
  }
  
  .imgPerfil {
    width: 47px;
    border-radius: 30px;
  }

  .iconVerified {
    width: 24px;
    margin-left: 10%;
  }
}