.button {
    font-family: var(--font-family);
    background-color: var(--accent-color);
    border: none;
    border-radius: var(--border-radiusButton);
    cursor: pointer;
    color: var(--colorTextButton);
    transition: var(--transitionButton);
    position: relative;
    left: 0%;
    margin-top: 9%;
    max-width: var(--max-widthButton);
    min-width: fit-content;

    padding: 3% 3%;
    font-size: 85%;
}

.button:hover {
    background-color: var(--colorHoverButton);
    transition: var(--transitionButton);
    color: var(--colorTextButtonHover);
    box-shadow: var(--box-shadowButton);
}

@media (min-width: 1100px) {

    .button{
        padding: var(--paddingButton);
        font-size: var(--fontSizeButton);
    }
}